.backgroundcolor {
	background: linear-gradient(to bottom right, #16C8A5, #16B2C8);
	height: 1200px;
	width: 100%;
	display: inline-block;
	margin: -10px;
}

.jake p, .jake ol, .jake ul {
	font-family: monospace;
	font-size: 24px;
	max-width: 50ch;
}

.jake p {
	font-family: 'space mono';
}
