<center>
<p>____________           ______________________________________________________________________           ____________</p>


<div id="alpha">
<h1>  </h1>
</div>
<style>
#alpha{
font-size: 50;
font-family: helvetica;
font-style: ;
color: #336600;
}
</style>
</div>




<div id="beta">
<h2> 

<li> There is a design contest, and then there are design contests. One is a real instance of gambling- time and creative energy for the chance of recognition. The other is a culture where designers are exploited by companies feigning ignorance in compensation. 

What's an individual’s breaking point? What is each of our own barometers for notoriety that determines if we would even consider applying effort in creating for them, sans financial reward? Its situational. It comes down to the specifics of what the entity is actually offering, as some do in fact offer the potential of payment where others go so far as to deny artistic ownership. For some, the ladder is an option, at least for a time. As a continued practice this has formed a culture of exploitation by the nature of capitalism itself. 

It's a coded language at this point. Entities seeking design work have themselves grown up in a culture where as children they entered their drawing in design contest for a holiday card, postage stamp, etc. As adults they may truly be unconscious to the fact that professional designers are routinely targeted for free labor. But as professionals, surely these people understand that they are asking for free labor. 

Thinking reductively, all this is to say that the dynamic is overwhelmingly for the benefit of the powered entity seeking submissions. It is at base saying that all labor will not be compensated for. This is a basic understanding for the design community, but must be articulated repeatedly for the content seekers. 

John Marion was such an ideal guest. He was so gracious in learning about the history of how design contests traditionally exist to exploit the designer. 

In exploring the idea of the I Voted sticker, I’m interesting in applying the methods before a vote takes place. The function of the sticker is multifaceted; outward badge of accomplishment, the signifier of belonging to the dedicated that performed their civic duty, and a suggestion to friends and strangers to get to the polls as well. 

The power is in the personalization. Instead of a big government agency telling you to vote, it’s someone in your everyday life. Social Media then seems like the perfect medium to push this idea further. Posting these sentiments to social media shows followers that the user is willing to include civic duty as a part of their brand. 

I don’t think this has to be limited to election day.  John brought with him some articles that looked at participation if Facebook users were exposed to content that alerted them that their friends had voted. The results were unsurprising- like the I Voted sticker, people were inclined to vote if they knew their friends had. The platform would either have to have political motivations that would benefit from young people participating, or were legitimately supportive of getting as many people to vote as possible, but for this project I propose a concept of consisting of a week’s worth of filters, masks, buttons, reactions, and emojis to encourage voting. Much like a geotag, a temporally limited tag on an instagram post could be personalized and posted to a story to get viewers excited and ready to vote. This could also include physical photo booths at polling places to suggest posing for a selfie to show that you actually went out to vote. 

</li>

<iframe width="560" height="315" src="https://www.youtube.com/embed/uUfYDA6v06g" frameborder="0" allowfullscreen></iframe>

</h2>
</div>
<style>

#beta{
font-size: 25;
font-family: helvetica;
font-style: underline;
color: #669900;
}

</style>
</div>





</center>