
<div id="alpha">
<h1> Ben Smith </h1>
</div>
<style>
alpha{
font-size: 50;
font-family: helvetica;
font-style: underline;
color: green;
}
</style>
</div>




<div id="beta">
<h2> How do you apply your background in awarding scholarships in an elite university to representing a ward composed of people of particulary distinct economic backgrounds? </h2>
</div>
<style>

beta{
font-size: 25;
font-family: Andale Mono;
font-style: underline;
color: green;
}

</style>
</div>




<iframe width="560" height="315" src="https://www.youtube.com/embed/ydm-FOg8AJo" frameborder="0" allowfullscreen></iframe>