<center>
<p>____________           ______________________________________________________________________           ____________</p>


<div id="alpha">
<h1>  </h1>
</div>
<style>
#alpha{
font-size: 50;
font-family: helvetica;
font-style: ;
color: #336600;
}
</style>
</div>




<div id="beta">
<h2> 

<li> There is a design contest, and then there are design contests. One is a real instance of gambling- time and creative energy for the chance of recognition. The other is a culture where designers are exploited by companies feigning ignorance in compensation. 

What's an individual’s breaking point? What is each of our own barometers for notoriety that determines if we would even consider applying effort in creating for them, sans financial reward? Its situational. It comes down to the specifics of what the entity is actually offering, as some do in fact offer the potential of payment where others go so far as to deny artistic ownership. For some, the ladder is an option, at least for a time. As a continued practice this has formed a culture of exploitation by the nature of capitalism itself. 

It's a coded language at this point. Entities seeking design work have themselves grown up in a culture where as children they entered their drawing in design contest for a holiday card, postage stamp, etc. As adults they may truly be unconscious to the fact that professional designers are routinely targeted for free labor. But as professionals, surely these people understand that they are asking for free labor. 

Thinking reductively, all this is to say that the dynamic is overwhelmingly for the benefit of the powered entity seeking submissions. It is at base saying that all labor will not be compensated for. This is a basic understanding for the design community, but must be articulated repeatedly for the content seekers. 
</li>

<iframe width="560" height="315" src="https://www.youtube.com/embed/uUfYDA6v06g" frameborder="0" allowfullscreen></iframe>

</h2>
</div>
<style>

#beta{
font-size: 25;
font-family: helvetica;
font-style: underline;
color: #669900;
}

</style>
</div>


<iframe width="560" height="315" src="https://www.youtube.com/embed/ydm-FOg8AJo" frameborder="0" allowfullscreen></iframe>

<p>____________           ______________________________________________________________________           ____________</p>
</center>