<style> 

	ul, p, ol {

		font-family: helvetica;
		font-size: 1em;
		text-align: left;
		margin-left: 5em;
		margin-right: 7em;
		margin-bottom: 2em;
		max-width: 70ch;
		line-height: 130%;
	}

	h3 {
		font-family: times, serif;
		font-size: 3em;
		margin-left: 3em;
		margin-right: 7em;
		line-height: 1.5em;
	}

	#bottomlinetwo {
		text-align: center;
		display: block;
		margin: auto;
	}

	img {
		margin: auto;
    	width: 25%;
    	display: block;
	}

</style>

<div id="bottomlinetwo">
		<p>______________________</p>
	</div>

<h3>Jake Dessau</h3>

	<ul>
		Do you think citizens should participate in city council meetings, or are they simply there to spectate?
		<br>
		What goes on behind the scenes? Does the city council discuss issues privately and then vote publicly?
	</ul>

<img src="//unit3/week1/images/statueofliberty.jpg">

	<div id="bottomlinetwo">
		<p>______________________</p>
	</div>

</div>