<style>
  .comic img { height: 50vh; margin: 1rem; }
  .comic img:first-child { position: absolute; z-index: 2; left: 7%; }
  .comic img:nth-child(2) { position: absolute; z-index: 2; right: 20%; bottom: 0; }
</style>
<div class="comic">
  <img src="/img/comic1.png" draggable="true">
  <img src="/img/comic2.png" draggable="true">
<div>
<div id="aFlag_Widget"><div id="hf_alert"></div><div id="aflag_link"><a href="http://www.aflag.com/American_Flags"></a></div><script type="text/javascript" src="http://www.aflag.com/widget/flagJS.asp"></script></div>
