
<div id="bottomlinetwo">
<p> _________________________________________________ </p>
<div>

<div id="title">
 <h2>Your opinions on Gun laws in Rhode Island:</h2>
</div>

<style> 


body {
	background-color: #fceff8;
}

#title {
	font-size: 30px;
	font-family: helvetica;
	font-style: bold;
	color: purple;
	margin-left:5em;
	margin-right: 7em;


}

#question{
	font-size: 20px;
	font-family: helvetica;
	font-style:normal;
	color:black;
	text-align: left;
	margin-left: 5em;
	margin-right: 7em;
	margin-bottom: 4em;

}

#bottomlinetwo {
	text-align: center;
}

#bottomline {
	text-align:center;
}



</style>



<div id="question">
<ul>

<li>What is your stance regarding America's obsession with firearms, and its seemingly ingrained connection to our country?</li>
<li>By extension of that, do you believe that increased gun control is a necessity in a market that is fairly fluid and open?</li>
<li>What is your position on the lack of laws in Rhode Island limiting the number of guns that can be owned per hosehold? </li>
<li>Finally, do you think there should be a larger legal response to the current more relaxed concealed carry laws in Rhode Island?</li>


</ul>
</div>

<div id="bottomline">
<p> _________________________________________________ </p>
<div>

