
<div id="bottomlinetwo">
<p> _________________________________________________ </p>
<div>

<div id="title">
 <h2><u>Miro: DON’T WORK FOR FREE</u></h2>
</div>

<style> 

body{
	background: linear-gradient(132deg, #ffffff, #9ddb81);
	background-size: 400% 400%;
	animation: BackgroundGradient 10s ease infinite;
}

@keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}





p {

	font-family: helvetica;
	font-size: 2em;
	text-align: left;
	margin-left: 5em;
	margin-right: 7em;
	margin-bottom: 2em;
}

#title {
	font-size: 20px;
	font-family: helvetica;
	font-style: bold;
	color: purple;
	text-align: left;
	margin-left:2em;
	margin-right: 7em;
	margin-bottom: 2em;



}

#question{
	font-size: 28px;
	font-family: helvetica;
	font-style:normal;
	color:black;
	text-align: left;
	margin-left: 5em;
	margin-right: 7em;
	margin-bottom: 4em;
	margin-top: 2em;

}

#bottomlinetwo {
	text-align: center;
}

#bottomline {
	text-align:center;
	font-size: 10px;
}



</style>



<p>
Working for a design competition, or working for credit, or an unpaid internship  is the same as working for free. The average client has a very preliminary understanding of the function of graphic design and often they come to you seeking short cuts and assuming the everything we do can be done “quick” and “easily”. In short they are taking advantage of you, however sometimes not willingly. I would go further and say that the issue stems further with society’s disconnect from the true potential of the computer. Big tech companies like Apple have limited our understanding of computation, and thus people see computers as tools and not as a medium itself. Clients always seem to think that their is a sort of magic involved with the design process, in an instant and with a click of the button a design is formed on screen, adaptable to any possible imagination. And with that our mode of creation is cheapened. Who can blame them though, 
</p>

<p>
In a way it is sad that our current capitalist society has forged design competitions as an elusive hope to maybe get a job later on. Yet, when looking at this business model you see a glaring error, no pay = no food = no designer. Now that’s obviously condensed but it holds true when you develop, simply one cannot live off of nothing. Design takes time, and we all know time is worth money. Our internet is plagued by websites that offer “$5 designs “ or “quick logos within the hour”. These websites, in one hand take design to every income bracket, but is bad design at a good price … good design? And in a way I think that our economic value to the client is always going to be “as cheap as possible” unless you convince them of the importance of why usually paying for a better quality tends to yield a better result.
</p>


<p>
That is part of the job though, to educate. Just like a banker might explain a mortgage to you before you buy a home, designers must educate their client, to show them what is possible,to change the global average. I like to think of every job I take as a two way road. I learn as much as I can about what they do, why they do it, why it matters, and in return I reciprocate the intricacies of our medium. 
</p>

<p>
Does that mean that every design you make has to be at 50$ an hour? On one hand a designer has got to do what a designer has got to do to survive, but at the end of the day designers still have a duty as creative thinkers to apply their efforts in the name of social good. Now that kind of sounds like a graphic designers version of confession but in a way its true. Sometimes the mom and pop pizza parlor will not be able to afford a new logo identity, and thus because they can not market to a shorter attention spanned youth, they are left at the way side simply because the logo and brand identity didn't captivate them enough. Giving back to community around you through design is one of the best things a graphic designer can do, for free not a chance - at least minimum wage.
</p>

<p>
I think the most important thing todo before any job that announces itself as being no pay,  is to truly evaluate how much time it will take you, evaluate the clients and ask yourself do they have the financial means to pay you what you deserve. If yes, then do what you can to show them your worth. But ultimately don't compromise your values, work for places and entities that you would like to represent, take the odd job when you want and on your own terms.
</p>

<p>
I would go further and say never work for an hourly rate if you work freelance. It is truly impossible to value your time hour to hour in a creative field. Sometimes the best idea of a logo takes a few minutes and others weeks if not months. Can either or be considered “worth more” than the other? I don’t think so. You have to be able to foresee just how far your designs will live in the world, in other words how many google searches are landing on your designs, how many bags are being made… Sell yourself project based and don't be afraid to raise your voice.
</p>


<h2>links from this week:</h2>

<p>
<li>(https://blog.google/topics/inside-google/this-years-founders-letter/</li>

<li>https://www.ideo.com/case-study/a-new-way-to-vote-for-the-people-of-los-angeles</li>

<li>http://americanhistory.si.edu/vote/design.html</li>

<li>http://www.yalescientific.org/2008/11/the-mind-and-the-ballot-the-role-of-psychology-in-elections/</li>

</p>
