
<div id="title">
 <h2>Your opinions on Gun laws in Rhode Island:</h2>
</div>

<style> 


body {
	background-color: #fceff8;
}

#title {
	font-size: 60px;
	font-family: helvetica;
	font-style: bold;
	color: purple;


}

#question{
	font-size: 20px;
	font-family: helvetica;
	font-style:normal;
	color:black;
	text-align: left;
	margin-left: 5em;

}



</style>



<div id="question">
<p>  
What is your stance regarding America's obsession with firearms, and its seemingly ingrained connection to our country.
What sort of action is being done about gun control, specifically limiting the bullet count of each clip, and number of guns per household?

</p>
</div>

