h1 {
	font-family: Times, serif;
	font-size: 45px;
	margin-left: 150px;
	margin-right: 150px;
	max-width: 60ch;
	letter-spacing: -1px;
}

h2 {
	font-family: Times, serif;
	font-size: 30px;
	margin-left: 150px;
	margin-right: 150px;
	max-width: 60ch;
	letter-spacing: -1px;
}

a, .post-link{
	font-family: Helvetica, sans-serif;
	font-size: 24px;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: orange;
    text-decoration: none;
}

li, p {
	font-family: Times, serif;
	font-size: 24px;
	margin-left: 150px;
	margin-right: 150px;
	max-width: 60ch;
}