h1 {
	font-family: monospace;
	font-size: 45px;
	margin-left: 150px;
	max-width: 60ch;
}

h2 {
	font-family: monospace;
	font-size: 30px;
	margin-left: 150px;
	max-width: 60ch;
}

a{
	font-family: monospace;
	font-size: 24px;
	margin-left: 150px;
}

li, p {
	font-family: monospace;
	font-size: 24px;
	margin-left: 150px;
	max-width: 60ch;
}