h1 {
	font-family: Times, serif;
	font-size: 45px;
	margin-left: 150px;
	margin-right: 150px;
	max-width: 60ch;
	letter-spacing: -1px;
}

h2 {
	font-family: Times, serif;
	font-size: 30px;
	margin-left: 150px;
	margin-right: 150px;
	max-width: 60ch;
	letter-spacing: -1px;
}

a, .post-link{
	font-family: Courier, monospace;
	font-size: 24px;
	margin-left: 150px;
	margin-right: 150px;
}

li, p {
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	margin-left: 150px;
	margin-right: 150px;
	max-width: 60ch;
}