 <!doctype html>
 	<head>
		 <script src="bindery/bindery.min.js"></script>
	</head>
	<body>
	        <script>
	            Bindery.makeBook({
	            	content: {
	            		selector: '#content'
	            		url:'toc.html',
	            	},
	            });
	        </script>
  
	        <section id="content">
	        	  {% for post in site.posts %}
		        	<div class="post-content">
		        		{{ post.content }}
		        	</div>
	        	  {% endfor %}

	        </section>
	</body>