<!doctype html>
<html lang="en">
  <head>
  	<link href="/css/style.css" type="text/css" rel="stylesheet">
  </head>
  <body class="permalink">

{{ content }}

{% include john.html %}
{% include miro.html %}
{% include jake.html %}
{% include yeon.html %}
{% include mei.html %}
{% include ben.html %}
{% include yuexin.html %}
{% include mostyn.html %}
{% include lara.html %}
{% include bre.html %}

<!--
{% for image in site.static_files %}
{% if image.path contains '/img/cover/' %}
  <img src="{{ site.baseurl }}{{ image.path }}"  alt="image" />
{% endif %}
{% endfor %}
-->

  </body>
</html>
